body{
  margin:0;
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  background:#111;
  overflow:hidden;
  direction:rtl;
}

.container{
  position:relative;
  width:350px;
  height:500px;
  overflow:hidden;
}

/* الفيديو ظاهر فوق */
.video-container{
  position:absolute;
  width:100%;
  height:100%;
  z-index:2;
  cursor:grab;
  transition: transform 2.00s ease, opacity 2.00s ease;
}

.video-container video{
  width:100%;
  height:100%;
  object-fit:cover;
  border-radius:20px;
}

/* الصورة بالخلف */
.card{
  position:absolute;
  width:100%;
  height:100%;
  z-index:1;
}

.card img{
  width:100%;
  height:100%;
  object-fit:cover;
  border-radius:20px;
}

/* النص */
h4{
  position:absolute;
  bottom:20px;
  right:20px;
  color:#1b1a1a;
  font-family:sans-serif;
  z-index:3;
  transition: opacity 0.4s ease;
}
